.banner {
    height: 50px;
    background-color: aliceblue;
    margin: 50px 0;
}
.banner ul {
    margin: 30px;
}

.banner ul li {
    float: left;
    margin: 15px 20px;
    cursor: pointer;

}
.banner ul li:hover {

}